certs/
*.crt
*.key
*.csr
*.conf
values.yaml.bak 
pg_credentials.txt
redis_credentials.txt
firewall_jwt_credentials.txt
trustgate_endpoints.txt
test_rate_limiter.sh
test_combined_security.sh
test_firewall.sh
neuraltrust-app-prod.json

# Add the .secret directory
.secret/
.env
!.env.example